# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env
.env.*

# Unit test / coverage reports
.coverage
*.cover
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
